.our-testimonials {
  margin: 0 30px;

  @media (width < 1080px) {
    margin: 0 0;
  }
}

.our-testimonials-container {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  gap: 19px;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;

  @media (width < 1080px) {
    margin-top: 80px;
    gap: 10px;
    margin-bottom: 50px;
  }
}

.our-testimonials-container > p:first-child {
  padding: 10px 20px;
  font-size: clamp(0.875rem, 0.825rem + 0.25vw, 1.125rem);
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  color: var(--color-grey-20);
  border-radius: 8px;
  border: 2px solid var(--color-black);
  width: max-content;
  background-color: var(--color-white);
}

.our-testimonials-container > h1 {
  font-size: clamp(2.375rem, 2.125rem + 1.25vw, 3.625rem);
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  color: var(--color-grey-10);
}

.our-testimonials-container > p:last-child {
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  width: 992px;
  text-align: center;

  @media (width < 1080px) {
    width: 100%;
  }
}

.testimonials-container {
  /* height: 374px; */
  position: relative;

  @media (width < 1080px) {
    /* padding-bottom: 50px; */
  }
}

.testimonials-container > .arrow-block {
  display: none !important;
  @media (width < 1080px) {
    display: flex !important;
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
  }
}

.testimonials-container > .arrow-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  @media (width < 1080px) {
    display: none !important;
  }
}

.testimonials-container > .arrow-right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  @media (width < 1080px) {
    display: none !important;
  }
}

.testimonials-container .slider-container {
  padding-left: 50px;
  padding-right: 50px;
  @media (width < 1080px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.arrow-left,
.arrow-right {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  border: 2px solid var(--color-grey-20);
  box-sizing: border-box;
  display: grid !important;
  place-content: center;
  background-color: var(--color-white);
  cursor: pointer;
}

.arrow-left img {
  rotate: 180deg;
}

.arrow-left {
  @media (width < 1080px) {
    grid-column-start: 2;
    grid-row-start: 2;
  }
}

.arrow-right {
  @media (width < 1080px) {
    grid-column-start: 3;
    grid-row-start: 2;
  }
}

.testimonial-block {
  padding: 10px 20px;
  height: 420px;
}

.testimonials {
  height: 100%;
  padding: 50px;
  border-radius: 12px;
  border: 2px solid var(--color-grey-15);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  -webkit-box-shadow: 4px 4px 2px 4px #1e1e1e;
  -moz-box-shadow: 4px 4px 2px 4px #1e1e1e;
  box-shadow: 4px 4px 2px 4px #1e1e1e;
  background-color: var(--color-white);

  @media (width < 1080px) {
    grid-column-start: 1;
    grid-column-end: 5;
    padding: 30px;
    gap: 20px;
    -webkit-box-shadow: 4px 4px 1px 4px #1e1e1e;
    -moz-box-shadow: 4px 4px 1px 4px #1e1e1e;
    box-shadow: 4px 4px 1px 4px #1e1e1e;
  }
}

.testimonials:not(.first) {
  @media (width < 1080px) {
    display: none;
  }
}

.testimonials__customer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.rating {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.rating svg {
  color: var(--color-orange-65);
}

.customer-name {
  font-size: clamp(1.25rem, 1.2rem + 0.25vw, 1.5rem);
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
}

.comments {
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  color: var(--color-grey-20);
  text-align: center;
}

.slick-prev:before,
.slick-next:before {
  content: none;
}

.slick-slider {
  padding: 0 40px;
  box-sizing: border-box;
}
