.awards-recognitions {
  margin: 150px 30px 0;

  @media (width < 1080px) {
    margin: 80px 0 0;
  }
}

.awards-recognitions > div {
  margin-bottom: 80px;

  @media (width < 1080px) {
    margin-bottom: 50px;
  }
}

.awards-recognitions > div > p:first-child {
  margin: 0 auto 14px;
  padding: 10px 20px;
  font-size: clamp(0.875rem, 0.825rem + 0.25vw, 1.125rem);
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  color: var(--color-grey-20);
  border-radius: 8px;
  border: 2px solid var(--color-black);
  width: max-content;
  background-color: var(--color-white);

  @media (width < 1080px) {
    margin: 0 auto 10px;
  }
}

.awards-recognitions > div > h1 {
  text-align: center;
  margin: 0 auto 14px;
  font-size: clamp(2.375rem, 2.125rem + 1.25vw, 3.625rem);
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  line-height: 1.3;
  color: var(--color-grey-10);

  @media (width < 1080px) {
    margin: 0 auto 10px;
  }
}

.awards-recognitions > div > p:last-child {
  text-align: center;
  margin: 0 auto;
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  width: 992px;
  text-align: center;

  @media (width < 1080px) {
    width: 100%;
  }
}

.awards-recognitions-block > div:first-child {
  display: flex;
  gap: 50px;
  margin-bottom: 40px;

  @media (width < 1080px) {
    /* display: block; */
  }
}

.award-container {
  position: relative;
  padding: 28px 15px 40px;
  height: 100%;
}

.awards {
  flex-grow: 1;
  height: 100%;
  padding: 60px 40px 40px 40px;
  border: 2px solid var(--color-grey-15);
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 1px 4px #1e1e1e;
  -moz-box-shadow: 4px 4px 1px 4px #1e1e1e;
  box-shadow: 4px 4px 1px 4px #1e1e1e;
  background-color: var(--color-white);
  flex: 1;
}

.awards:not(.first) {
  @media (width < 1080px) {
    display: none;
  }
}

.award-container > img {
  width: 56px;
  aspect-ratio: 1/1;
  position: absolute;
  left: 39px;
  top: 0px;
}

.awards > h2 {
  font-size: clamp(1.375rem, 1.35rem + 0.125vw, 1.5rem);
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  line-height: 1.3;
  color: var(--color-grey-10);
  margin-bottom: 16px;
}

.awards > p {
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  color: var(--color-grey-30);
  text-align: left;
}

.arrow-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow-block > p:first-child {
  flex-grow: 1;
  margin-right: 50px;
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  line-height: 1.3;
  color: var(--color-grey-10);
}

.arrow-block .arrow-left,
.arrow-block .arrow-right {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  border: 2px solid var(--color-grey-20);
  box-sizing: border-box;
  flex-shrink: 0;
  display: grid;
  place-content: center;
  background-color: var(--color-white);
}

.arrow-block .arrow-left {
  margin-right: 16px;
  @media (width < 1080px) {
    grid-column-start: 2;
    grid-row-start: 2;
  }
}

.arrow-block .arrow-right {
  @media (width < 1080px) {
    grid-column-start: 3;
    grid-row-start: 2;
  }
}

.testimonials {
  padding: 50px;
  border-radius: 12px;
  border: 2px solid var(--color-grey-15);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  -webkit-box-shadow: 4px 4px 2px 4px #1e1e1e;
  -moz-box-shadow: 4px 4px 2px 4px #1e1e1e;
  box-shadow: 4px 4px 2px 4px #1e1e1e;
  background-color: var(--color-white);

  @media (width < 1080px) {
    grid-column-start: 1;
    grid-column-end: 5;
    padding: 30px;
    gap: 20px;
    -webkit-box-shadow: 4px 4px 1px 4px #1e1e1e;
    -moz-box-shadow: 4px 4px 1px 4px #1e1e1e;
    box-shadow: 4px 4px 1px 4px #1e1e1e;
  }
}

.testimonials:not(.first) {
  @media (width < 1080px) {
    display: none;
  }
}

.testimonials__customer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.rating {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.rating svg {
  color: var(--color-orange-65);
}

.customer-name {
  font-size: clamp(1.25rem, 1.2rem + 0.25vw, 1.5rem);
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
}

.comments {
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  color: var(--color-grey-20);
  text-align: center;
}

.benefits > div:first-child {
  width: 100%;
  padding: 80px 50px 50px 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 12px;
  border: 2px solid var(--color-grey-15);
  background-color: var(--color-white);
  height: 100%;
  -webkit-box-shadow: 4px 4px 2px 4px #1e1e1e;
  -moz-box-shadow: 4px 4px 2px 4px #1e1e1e;
  box-shadow: 4px 4px 2px 4px #1e1e1e;

  @media (width < 1080px) {
    -webkit-box-shadow: 4px 4px 1px 4px #1e1e1e;
    -moz-box-shadow: 4px 4px 1px 4px #1e1e1e;
    box-shadow: 4px 4px 1px 4px #1e1e1e;
  }
}

.benefits > div > h2 {
  font-size: clamp(1.375rem, 1.3rem + 0.375vw, 1.75rem);
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  color: var(--color-grey-10);
}

.benefits > div > p {
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  color: var(--color-grey-30);
}

.awards__arrow-left,
.awards__arrow-right {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  border: 2px solid var(--color-grey-20);
  box-sizing: border-box;
  display: grid !important;
  place-content: center;
  background-color: var(--color-white);
  /* z-index: 10; */
}

.awards__arrow-left img {
  rotate: 180deg;
}

.awards__arrow-left {
  position: absolute;
  bottom: 0;
  @media (width < 1080px) {
    grid-column-start: 2;
    grid-row-start: 2;
  }
}

.awards__arrow-right {
  @media (width < 1080px) {
    grid-column-start: 3;
    grid-row-start: 2;
  }
}

/* Style to make arrows at the bottom-right */
.slick-prev,
.slick-next {
  position: absolute;
  bottom: 10px; /* Adjust this for spacing */
  z-index: 10;
}

/* Shift both arrows to the bottom-right */
.slick-prev {
  right: 50px; /* Adjust the spacing between the arrows */
}

.slick-next {
  right: 10px;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
  align-items: stretch !important;
}

.slick-slide > div {
  height: 100%;
}

.slick-slider {
  @media (width < 1080px) {
    padding: 0;
  }
}
