.our-faq {
  margin: 0 30px;
}

.our-faq-container {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  gap: 19px;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.our-faq-container > p:first-child {
  padding: 10px 20px;
  font-size: clamp(0.875rem, 0.825rem + 0.25vw, 1.125rem);
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  color: var(--color-grey-20);
  border-radius: 8px;
  border: 2px solid var(--color-black);
  width: max-content;
}

.our-faq-container > h1 {
  font-size: clamp(2.375rem, 2.125rem + 1.25vw, 3.625rem);
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  color: var(--color-grey-10);
}

.our-faq-container > p:last-child {
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  width: 992px;
  text-align: center;
}

.faq-container {
  display: flex;
  gap: 40px;
}

.faq-sub-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.faq {
  border-radius: 10px;
  border: 2px solid var(--color-grey-15);
  padding: 34px 86px 34px 30px;
  position: relative;
}

.faq > div:first-child {
  display: grid;
  gap: 20px;
}

.question {
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  color: var(--color-grey-10);
}

.answer {
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  color: var(--color-grey-10);
}

.collapse-expand-icons {
  position: absolute;
  top: 34px;
  right: 30px;
  width: 32px;
  height: 32px;
  background-color: var(--color-orange-97);
  border-radius: 4px;
  border: 2px solid var(--color-grey-15);
  display: grid;
  place-items: center;
}

.hidden {
  display: none;
}

hr {
  border: 2px solid var(--color-grey-15);
  width: 100%;
}
