.footer {
  margin-top: 150px;
  padding: 80px 80px 40px 80px;
  background-color: var(--color-white);
  border: 2px solid var(--color-grey-15);
  border-radius: 12px;
  -webkit-box-shadow: 6px 6px 2px 6px #1e1e1e;
  -moz-box-shadow: 6px 6px 2px 6px #1e1e1e;
  box-shadow: 6px 6px 2px 6px #1e1e1e;

  @media (width < 1080px) {
    margin-top: 80px;
    padding: 60px 30px 28px 30px;
  }
}

.footer > div:first-child {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  gap: 80px;
  max-width: 100%;

  @media (width < 1080px) {
    display: block;
  }
}

.logo-container-contact-details {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.logo-container-tagline {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (width < 1080px) {
    align-items: center;
  }
}

.logo-container-tagline > p {
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;

  @media (width < 1080px) {
    text-align: center;
  }
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-details * {
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
}

.contact-details__email,
.contact-details__phone-number,
.contact-details__address {
  display: flex;
  gap: 8px;
  align-items: center;
}

.contact-details__email > div,
.contact-details__phone-number > div,
.contact-details__address > div {
  width: 32px;
  height: 32px;
  display: grid;
  place-content: center;
  border-radius: 6px;
  border: 2px solid var(--color-grey-15);
}

.sitemap {
  display: flex;
  gap: 20px;
  flex-shrink: 0;

  @media (width < 1080px) {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content max-content;
  }
}

.sitemap__home,
.sitemap__about-us,
.sitemap__academics,
.sitemap__contact-us {
  display: flex;
  flex-direction: column;
  gap: 14px;
  flex-shrink: 0;

  @media (width < 1080px) {
    height: max-content;
  }
}

.sitemap__home {
  @media (width < 1080px) {
    grid-column-start: 1;
    grid-row-start: 1;
  }
}

.sitemap__about-us {
  @media (width < 1080px) {
    grid-column-start: 1;
    grid-row-start: 2;
  }
}

.sitemap__academics {
  @media (width < 1080px) {
    grid-column-start: 2;
    grid-row-start: 1;
  }
}

.sitemap__contact-us {
  @media (width < 1080px) {
    grid-column-start: 2;
    grid-row-start: 2;
  }
}

.sitemap__home > a,
.sitemap__about-us > a,
.sitemap__academics > a,
.sitemap__contact-us > a {
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  color: var(--color-grey-20);
  text-decoration: none;
  flex-shrink: 0;

  @media (width < 1080px) {
    flex-grow: 1;
  }
}

.sitemap__home > a:first-child,
.sitemap__about-us > a:first-child,
.sitemap__academics > a:first-child,
.sitemap__contact-us > a:first-child {
  margin-bottom: 6px;
  font-weight: 600;
  color: var(--color-grey-15);
  text-decoration: none;
}

.links-social-handles {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: 88px auto;
  margin-bottom: 20px;
  border-top: 1px solid var(--color-grey-15);
  border-bottom: 1px solid var(--color-grey-15);

  @media (width < 1080px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    place-content: center;
    padding-bottom: 16px;
    margin-bottom: 16px;
  }
}

.links {
  display: flex;
  gap: 10px;
  align-items: center;

  @media (width < 1080px) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    justify-content: center;
  }
}

.links > a {
  font-size: clamp(0.875rem, 0.825rem + 0.25vw, 1.125rem);
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  color: var(--color-grey-20);
  text-decoration: none;
}

.social-handles {
  grid-column-start: 3;
  display: flex;
  gap: 14px;
  align-items: center;

  @media (width < 1080px) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    justify-content: center;
  }
}

.social-handles > div {
  width: 48px;
  height: 48px;
  display: grid;
  place-content: center;
  border-radius: 6px;
  border: 2px solid var(--color-grey-15);
  background-color: var(--color-orange-90);

  @media (width < 1080px) {
    width: 44px;
    height: 44px;
  }
}

.copyright-text {
  text-align: center;
  font-size: clamp(0.875rem, 0.825rem + 0.25vw, 1.125rem);
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  color: var(--color-grey-40);
}
